{% extends 'base.html' %}
{% block title %}
Student
{% endblock title %}
{% block home %}
menu-active
{% endblock home %}

{% block body %}
  
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="created">
      <h1 class="created-heading">Created By: </h1>
      <div class="credits">
        <div class="cards">
          <img src="./static/images/ppl1.jpg" alt="ERROR">
          <span>Koustav Biswas</span>
          <span>1DT21CS072</span>
        </div>
        <div class="cards">
          <img src="./static/images/ppl2.jpg" alt="ERROR">
          <span>L Divyashree</span>
          <span>1DT21CS074</span>
        </div>
        <div class="cards">
          <img src="./static/images/ppl3.jpg" alt="ERROR">
          <span>Mohini V</span>
          <span>1DT21CS090</span>
        </div>
        <div class="cards">
          <img src="./static/images/ppl4.jpg" alt="ERROR">
          <span>Monika V</span>
          <span>1DT21CS093</span>
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->
{% endblock body %}
